/del.html
/delmy.html
/functionViseliza.js
/game.html
/game.js
/gameMurka.css
/gameMurka.js
/hacker.js
/help.js
/jumpBall.html
/links.html
/page.html
/proverka.html
/sanya.js
/script.js
/sweets.html
/switch.js
/table.html
/table.js
/table2.js
/victorina.html
/viselniza.js
/visiliza.html